body {
    background-color: rgb(52, 73, 94);
    margin-left: 200px;
    margin-right: 200px;
}

h1 {
    font-size: 80px;
}

h2, h1 {
    color: rgb(40, 180, 99);
    font-family: 'Righteous', cursive;

}

nav {
    color: rgb(178, 186, 187);
    font-family: 'Hind', sans-serif;
    font-size: 17px;
}


p {
    color: rgb(178, 186, 187);
    font-family: 'Hind', sans-serif;
    font-size: 25px;
}

img {
    margin-bottom: 100px;
    width: 300px;
}



